!!! 5
%html{:lang => 'en'}
  %head
    %meta{"charset" => "utf-8"}/
    %meta{"name" => "viewport", :content => "width=device-width, initial-scale=1"}/
    %meta{"name" => "description", "content" => ""}/

    / Bootstrap Core CSS
    %link{:href => "#{@bootstrap_css}", :rel => :stylesheet}/

  %body
    .container
      - @movies_row.each do |row|
        .row
          .card-deck
            - row.each do |movie|
              .card.text-white.bg-info.mb-3{style: "width: 30rem;"}
                %img{class: "card-img-top", src: "https://image.tmdb.org/t/p/w640/#{movie.poster}", alt: "Poster image"}
                .card-body
                  %h4{class: "card-title"}
                    = "#{movie.title} (#{movie.rus_title})"
                  %h6{class: "card-subtitle mb-2"}
                    = "#{movie.country}, #{movie.year}"
                    - if movie.budget
                      = movie.budget
                  %p{class: "card-text"}
                    %strong= movie.director
                  %p{class: "card-text"}
                    =movie.genre.join(', ')
                  %p{class: "card-text"}
                    Starring:
                    =movie.actors.join(', ')

    / Bootstrap Core JavaScript
    / =================================================================================
    / Placed at the end of the document so that pages can load faster.
    %script{:src => "#{@bootstrap_js}"}
